<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactlibrary.sm_imagepicker">

    <application >
        <activity android:name=".MultiCameraActivity"></activity>
        <activity
            android:name="me.kareluo.imaging.IMGGalleryActivity"
            android:theme="@style/ImageGalleryTheme" />

        <activity
            android:name="me.kareluo.imaging.IMGEditActivity"
            android:theme="@style/ImageEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:label="Picture"
            android:exported="true">
            <intent-filter>
                <action android:name="react.native.sm.imagepicker.ShowMultiImage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
  
